.login-bg{
    background: url(../img/user-login.jpg);
    background-position: center;
    background-size: cover;
}
.regiser-bg{
    background: url(../img/user-add.jpg);
    background-position: 25%;
    background-size: cover;
}
.emailunverfied-bg{
    background: url(../img/key.jpg);
    background-position: 45px;
    background-size: cover;
}
.forgetpass-bg{
    background: url(../img/forgetpass.jpg);
    background-position: center;
    background-size: cover;
}
.err {
    border: 1px solid tomato !important;
}
.errcoloronly {
    color: tomato !important;
}
.err::placeholder {
    color: tomato !important;
}
.errcolor {
    border: 1px solid tomato !important;
    background-color: white !important;
    color: tomato !important;
    font-weight: bold !important;
}
.successColor {
    border: 1px solid green !important;
    background-color: white !important;
    color: green !important;
    font-weight: bold !important;
}
#add_btn {
    float: right;
    margin: 0 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(81, 81, 252);
    transition: 0.8s;
}
#add_btn:hover {
    color: rgb(81, 81, 252);
    background: white;
    border: 1px solid rgb(81, 81, 252);
    font-weight: bold;
}
.thismodal {
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid silver;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    background: white;
}
.thismodal h3 {
    text-align: center;
}
.hidden {
    display: none;
}
.modal_inp {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2.5px;
}
.modal_btn {
    border: none;
    margin-top: 10px;
    float: right;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    background: rgb(48, 170, 48);
    transition: 0.8s;
}

.modal_btn:hover {
    background: white;
    color: rgb(48, 170, 48);
    border: 1px solid rgb(48, 170, 48);
    font-weight: bold;
}

.cmsg {
    float: left;
    color: rgb(48, 170, 48);
}

#msg {
    float: left;
    color: rgb(48, 170, 48);
}

#chk_table {
    max-width: 80% !important;
    margin: 0 auto !important;
}

.cross {
    color: tomato !important;
    font-size: 20px !important;
    transition: 0.8s;
}
.cross:hover{
    color: red !important;
    font-size: 25px !important;
    cursor: pointer;
}

.checkmark{
    color: limegreen !important;
    font-size: 20px !important;
    transition: 0.8s;
}

.checkmark:hover{
    color: green !important;
    font-size: 25px !important;
    cursor: pointer;
}
